<template>
    <div>
        <div v-if="currentLevel === 0">
            <h1>나의 스트레스 지수 검사</h1>
            <el-button type="success" plain @click="gameStart()">검사 시작</el-button>
        </div>
        <div v-else-if="currentLevel === 1">
            <h2>{{ stressTestTitle }}</h2>
            <h3>Q{{ answerList[0].title }}</h3>
            <el-button type="info" plain v-for="(item, index) in answerList[0].answers"
                       @click="nextLevel(index)">A{{ index + 1 }}.{{ item.answer }}</el-button>
        </div>
        <div v-else-if="currentLevel === 2">
            <h2>{{ stressTestTitle }}</h2>
            <h3>Q{{ answerList[1].title }}</h3>
            <el-button type="info" plain v-for="(item, index) in answerList[1].answers"
                       @click="nextLevel(index)">A{{ index + 1 }}.{{ item.answer }}</el-button>
        </div>
        <div v-else-if="currentLevel === 3">
            <h2>{{ stressTestTitle }}</h2>
            <h3>Q{{ answerList[2].title }}</h3>
            <el-button type="info" plain v-for="(item, index) in answerList[2].answers"
                       @click="nextLevel(index)">A{{ index + 1 }}.{{ item.answer }}</el-button>
        </div>
        <div v-else-if="currentLevel === 4">
            <h2>{{ stressTestTitle }}</h2>
            <h3>Q{{ answerList[3].title }}</h3>
            <el-button type="info" plain v-for="(item, index) in answerList[3].answers"
                       @click="nextLevel(index)">A{{ index + 1 }}.{{ item.answer }}</el-button>
        </div>
        <div v-else-if="currentLevel === 5">
            <h2>{{ stressTestTitle }}</h2>
            <h3>Q{{ answerList[4].title }}</h3>
            <el-button type="info" plain v-for="(item, index) in answerList[4].answers"
                       @click="nextLevel(index)">A{{ index + 1 }}.{{ item.answer }}</el-button>
        </div>
        <div v-else-if="currentLevel === 6">
            <h2>{{ stressTestTitle }} 결과는?</h2>
            <h3>{{ resultRankTitle }}</h3>
            <h4>나의 점수 : {{ resultRankValue }}</h4>
            <div>{{ resultRankContents }}</div>
            <el-button type="primary" plain @click="gameReset()">다시하기</el-button>
        </div>
    </div>
</template>

<script>
export default {
    data() {
        return {
            stressTestTitle: '나의 스트레스 지수',
            currentLevel: 0, // 현재 레벨 0이면 시작 안함, 1~5 진행, 6 종료
            answer1Value: null,
            answer2Value: null,
            answer3Value: null,
            answer4Value: null,
            answer5Value: null,
            resultRankValue: 0,
            resultRankTitle: null,
            resultRankContents: null,
            resultList: [
                {
                    rankMinValue: 0,
                    rankMaxValue: 5,
                    rankName: '정상',
                    rankDescription: '당신은 행복한 인생을 살고 있습니다.'
                },
                {
                    rankMinValue: 6,
                    rankMaxValue: 10,
                    rankName: '상태 유지 권장',
                    rankDescription: '당신은 평범한 인생을 살고 있습니다.'
                },
                {
                    rankMinValue: 11,
                    rankMaxValue: 15,
                    rankName: '스트레스 관리 권장',
                    rankDescription: '당신은 스트레스가 쌓이기 시작하는 단계입니다.'
                },
                {
                    rankMinValue: 16,
                    rankMaxValue: 20,
                    rankName: '스트레스 관리 요망',
                    rankDescription: '당신은 스트레스가 좀 쌓인 상태 입니다.'
                },
                {
                    rankMinValue: 21,
                    rankMaxValue: 25,
                    rankName: '병원 방문 요망',
                    rankDescription: '당신은 스트레스가 많이 쌓여서 병원에 가는 것을 권장합니다.'
                },
            ],
            answerList: [
                {
                    title: '1. 나는 사소한 일에도 스트레스를 받는다',
                    answers: [
                        {answer: '매우 그렇다', rankValue: 5},
                        {answer: '그렇다', rankValue: 4},
                        {answer: '보통이다', rankValue: 3},
                        {answer: '그렇지 않다', rankValue: 2},
                        {answer: '매우 그렇지 않다', rankValue: 1},
                    ]
                },
                {
                    title: '2. 나는 충고, 조언을 싫어한다',
                    answers: [
                        {answer: '매우 그렇다', rankValue: 5},
                        {answer: '그렇다', rankValue: 4},
                        {answer: '보통이다', rankValue: 3},
                        {answer: '그렇지 않다', rankValue: 2},
                        {answer: '매우 그렇지 않다', rankValue: 1},
                    ]
                },
                {
                    title: '3. 나는 화를 주체 못해서 물건을 집어던진적이 있다',
                    answers: [
                        {answer: '매우 그렇다', rankValue: 5},
                        {answer: '그렇다', rankValue: 4},
                        {answer: '보통이다', rankValue: 3},
                        {answer: '그렇지 않다', rankValue: 2},
                        {answer: '매우 그렇지 않다', rankValue: 1},
                    ]
                },
                {
                    title: '4. 나는 일상생활이 때론 무의미하고 지친다',
                    answers: [
                        {answer: '매우 그렇다', rankValue: 5},
                        {answer: '그렇다', rankValue: 4},
                        {answer: '보통이다', rankValue: 3},
                        {answer: '그렇지 않다', rankValue: 2},
                        {answer: '매우 그렇지 않다', rankValue: 1},
                    ]
                },
                {
                    title: '5. 문득 어디론가 혼자 떠나고 싶을때가 있다',
                    answers: [
                        {answer: '매우 그렇다', rankValue: 5},
                        {answer: '그렇다', rankValue: 4},
                        {answer: '보통이다', rankValue: 3},
                        {answer: '그렇지 않다', rankValue: 2},
                        {answer: '매우 그렇지 않다', rankValue: 1},
                    ]
                },
            ]
        }
    },
    methods: {
        gameStart() {
            this.currentLevel = 1
        },
        nextLevel(selectedAnswerIndex) {
            if (this.currentLevel === 1) {
                this.answer1Value = selectedAnswerIndex
            } else if (this.currentLevel === 2) {
                this.answer2Value = selectedAnswerIndex
            } else if (this.currentLevel === 3) {
                this.answer3Value = selectedAnswerIndex
            } else if (this.currentLevel === 4) {
                this.answer4Value = selectedAnswerIndex
            } else if (this.currentLevel === 5) {
                this.answer5Value = selectedAnswerIndex
                this.calculateResult()
            }

            this.currentLevel = this.currentLevel + 1
        },
        calculateResult() {
            this.resultRankValue = this.answerList[0].answers[this.answer1Value].rankValue
            this.resultRankValue += this.answerList[1].answers[this.answer2Value].rankValue
            this.resultRankValue += this.answerList[2].answers[this.answer3Value].rankValue
            this.resultRankValue += this.answerList[3].answers[this.answer4Value].rankValue
            this.resultRankValue += this.answerList[4].answers[this.answer5Value].rankValue

            for (let i = 0; i < this.resultList.length; i++) {
                if (this.resultList[i].rankMinValue <= this.resultRankValue && this.resultList[i].rankMaxValue >= this.resultRankValue) {
                    this.resultRankTitle = this.resultList[i].rankName
                    this.resultRankContents = this.resultList[i].rankDescription
                }
            }
        },
        gameReset() {
            this.currentLevel = 0
            this.answer1Value = null
            this.answer2Value = null
            this.answer3Value = null
            this.answer4Value = null
            this.answer5Value = null
            this.resultRankValue = 0
            this.resultRankTitle = null
            this.resultRankContents = null
        }
    }
}
</script>